@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #edeaff;
}

.left-container{
    position: absolute;
    top: 30%;
    left: 10%;
}

.left-container h1{
    font-size: 69px;
    font-weight: bolder;
    color:  #0165E1;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.left-container p{
    font-size: 20px;
    letter-spacing: 5px;
}

.right-container{
    width: 400px;
    height: 600px;
    position: absolute;
    bottom: 25%;
    right: 18%;
    background-color: #fff;
    box-shadow: 13px 12px 10px gray;
    border-radius: 17px;
}

.usrnm{
    padding: 20px, 30px;
    margin: 20px 15px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 22%;
}

.usr{
    position: absolute;
    top: 30%;
    padding: 20px, 30px;
    margin: 20px 15px;
    width: 90%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
}


.pass{
    padding: 20px, 30px;
    margin: 20px 15px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
}

.pswrd{
    padding: 20px, 30px;
    margin: 20px 15px;
    width: 90%;
    height: 30px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
}

button{
    position: absolute;
    top: 40%;
    left: 68%;
}

.btn{
    width: 120px;
    height: 30px;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #0165E1;
    font-size: 19px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    text-decoration: none;
    letter-spacing: 3px;
    transition: all .32s ease;
}

.btn:hover{
    transform: translateY(-30%);
}

h2{
    position: absolute;
    top: 47%;
    left: 70%;
}

.cont{
    position:absolute;
    top: 51%;
    left: 64%;
    width: 290px;
    height: 40px;
    background-color:#0165E1;
    border-radius: 10px;
}

a{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    display: flex;
    padding:  10px;
    font-size: 17px;
    font-weight: 700;
}

 .hov:hover{
    background-color: #fff;
    color:#0165E1;
}


span{
    margin-top: 40px;
    font-size: 12px;
    color:purple;
    position: absolute;
    top: 90%;
    cursor: pointer;
    font-weight: 800;
}

span:hover{
    color:#0165E1;
}

footer{
    position:absolute;
    top: 90%;
    left: 49%;
}

h5{
    font-size: 16px;
    letter-spacing:  3px;
}


.line{
    position: absolute;
    top: 80%;
    left: 60%;
    font-size: 16px;
    font-weight: bold;
}
.con{
    margin-top: 5%;
    padding-right: 100px;
    width: 200px;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    letter-spacing: 9px;
    margin-right: 30%;
    color: #0165E1;
    font-size: 20px;
}










